<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.mlemainque.cordova.mifare" version="0.0.1">
	<name>Mifare Ultralight C Plugin</name>
	<description></description>
    <author>Matthias Lemainque</author>
	<license>Apache 2.0</license>
	<keywords>cordova,plugin,mifare,ultralight</keywords>

    <engines>
        <engine name="cordova" version=">=3.5.0"/>
    </engines>

	<js-module src="www/plugin.js" name="MifareULC">
		<clobbers target="cordova.plugins.MifareULC" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="MifareULCPlugin">
				<param name="android-package" value="com.mlemainque.cordova.mifare.MifareULCPlugin"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*/application/activity">
			<intent-filter>
				<action android:name="android.nfc.action.NDEF_DISCOVERED"/>
				<action android:name="android.nfc.action.TAG_DISCOVERED"/>
				<action android:name="android.nfc.action.TECH_DISCOVERED"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<meta-data android:name="android.nfc.action.TECH_DISCOVERED"
					   android:resource="@xml/nfc_tech_filter"/>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.NFC"/>
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			<uses-feature android:name="android.hardware.nfc" android:required="true"/>
		</config-file>

		<source-file src="src/android/com/mlemainque/cordova/mifare/MifareULCPlugin.java" target-dir="src/com/mlemainque/cordova/mifare"/>
		<source-file src="src/android/com/mlemainque/cordova/mifare/Util.java" target-dir="src/com/mlemainque/cordova/mifare"/>
		<source-file src="xml/nfc_tech_filter.xml" target-dir="res/xml"/>
	</platform>

</plugin>